html {
	background-color: lightcoral;
}

body {display: flex;
	padding: 0; margin: 0;
}

.leftSide {
	display: inline-flex;
	flex-direction: column;
	height: 100vh;
	width: 50vh;
	background-color: #F9F6F1;


}

.readBtns {
	background-color: white;
	border-radius: 50%;
	margin-right: 5vh;

}

.readBtns:hover {
	background-color: whitesmoke;
}

.statusRead {
	border-radius: 50%;
	margin-right: 5vh;
	background-color: #73E17E;
}
.newBookBtn {
	height: 7vh;
	width: 34vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	border-style: none none solid;
	border-color: black;
	border-radius: 2vh;
	box-shadow: 2px 2px 2px 1px #30BCED;

}

.newBookBtn:hover{
	background-color: lightgray;
}


.btnoverline1 {
	display: flex;
	justify-content: center;
	width: 25vh;
	height: 20vh;
	border-width: 1vh;
	border-style: solid;
	border-color: black;
	border-bottom-left-radius: 5vh;
	border-color: #FFF5EB #FFF5EB #69385C #69385C;
	margin-left: 1vh;

	
}

.btnoverline2 {
	width: 17vh;
	height: 17vh;
	border-style: solid;
 	border-color: #FFF5EB #FFF5EB #69385C #69385C;
 	border-bottom-left-radius: 5vh;
 	border-width: .8vh;
 	margin-right: 4vh;
 	margin-top: .3vh;

}

.btnunderline1 {
	width: 25vh;
	height: 20vh;
	border-width: 1vh;
	border-style: solid;
	border-color: black;
	margin-bottom: 1vh;
	margin-left: 1vh;
	border-top-left-radius: 5vh;
	border-color: #69385C #FFF5EB #FFF5EB #69385C;

	
}

.btnunderline2 {
	width: 17vh;
	height: 13vh;
	border-style: solid;
	border-width: .5vh;
 	border-color: #69385C #FFF5EB #FFF5EB #69385C;
 	margin: 1vh;
 	border-top-left-radius: 5vh;
 	border-width: .8vh;
}

.contentContainer {
	height: 100vh;
	width: 100vh;
	display: inline-flex;
	flex-direction: column;
	background-color: #F9F6F1 ;
	
}

.trashBar {
	display: inline-flex;
	flex-direction: column;
	width: 5vh;
	background-color: #FFF5EB;
}

.trashBarDivs {
	display: inline-flex;
	gap: 20px;
	border-style: solid;
	border-color: white;
	height: 9.3vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.trashBtns{

	background-color: lightgoldenrodyellow;
	border-radius: 70%;
}

.trashBtns:hover {
	background-color: #FC747D;
}

.bookDivs {
	display: flex;
	height: 10vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.bookNames {
	display: inline-flex;
	height: 4vh;
	width: 80vh;
	border-style: solid;
	border-color: black;
	border-radius: 7vh;
	box-shadow: 4px 3px 3px -2px;
	justify-content: center;
	border-width: .1vh;
	font-family: 'Source Sans Pro', sans-serif;

	}

.rightSide {
	display: inline-flex;
	height: 100vh;
	width: 50vh;
	background-color: lightsteelblue;
}

.formHide {
	display: none;

}

.formShow {
	display: grid;
	align-content: center;
	background-color: #D6D6D6;
	position: absolute;
	justify-content: center;
	margin: 10vh 0vh 50vh 75vh;
	border-color: #31081F;
	border-style: solid;
	border-width: 1vh;
	border-radius: 5vh;
	width: 50vh;
	height: 75vh;

}

.newBookInputs {
	width: 25vh;
	height: 5vh;
}

input {
	border-style: solid;
	border-width: .3vh;
	border-color: #96ACB7 #96ACB7 #697477 #697477;
	border-bottom-left-radius: 3vh;
	background-color: #C2C7C9;
	margin: 3vh;
	

}


input:hover {
	background-color: #BCC5C8;
}

label {
	text-align: center;
}

.submitBtn {
	width: 25vh;
	height: 5vh;
	border-radius: 2vh;
	text-align: center;
	margin-left: 3vh;
}

.radioBtnHdr {
	text-align: center;
}

.radioBtnsContainer {
	padding-left: 2.5vh;
}