.container {
	height: 50vh;
	width: 50vh;
	display: inline-flex;
	border-style: solid;
	border-color: black;
	background-color: lightblue;
}

.formHide {
	display: none;

}

.formShow {
	display: grid;
	align-content: center;
	background-color: #96ACB7;
	position: absolute;
	justify-content: center;
	margin: 10vh 0vh 50vh 75vh;
	border-color: #04724D;
	border-style: solid;
	border-width: 1vh;
	border-radius: 5vh;
	width: 50vh;
	height: 75vh;

}

.newBookInputs {
	width: 25vh;
	height: 5vh;
}

input {
	border-style: solid;
	border-width: .3vh;
	border-color: #96ACB7 #96ACB7 black black;
	border-bottom-left-radius: 3vh;
	background-color: #A9B5BB;
	margin: 3vh;
	

}


input:hover {
	background-color: #A9B5BB;
}

label {
	text-align: center;
}